body {
    background-color: aliceblue;
}

img {
   width: 500px;
}

#div1 {
    text-align:center;
}

#div2ish {
    border: 10px double;
    max-width: 500px;
    padding: 10px 20px;
    margin: auto;
    background: #f4f7f8;
    border-radius: 8px;
}

#div2 {
    border: 10px double;
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

    #div2 input[type="button"] {
        position: relative;
        display: block;
        padding: 19px 39px 18px 39px;
        margin: 0 auto;
        background: #495C70;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border: 1px solid #495C70;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
    }

label {
    display: block;
    margin-bottom: 8px;
}