@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5";
}

<!--this first div is the picture of myself and what I am excited for this semester-->
<div id="div1">
    <br />
    <h1>Allison Winder</h1>
    <br />
    <img src="img/IMG_3599.JPEG" />
    <br /><br />
    <p>
        I am incredibly excited for IS 413. I hope to be able to expand my programming skills, improve my abilities to solve problems, and increase my capacity to think at a high level. I hope to be able to solve complex problems through the usage of ASP.NET. I know that as I continue to learn more languages, I will be able to have a more diverse skillset to draw experience from as well as be a valuable asset in the workforce.
        I also am excited to have Professor Hilton as my professor again. He really cares about his students and endorses deep learning. His class last year was my favorite because of the material and because I truly felt like I learned and retained knowledge throughout the semester. I look forward to that happening again.
    </p>
    <br />
</div>
<!--the second div is top three job choices-->
<div id="div2ish">
    <h3>Top 3 Job Choices</h3>
    <ol>
        <li>Data Analyst</li>
        <li>Project Management</li>
        <li>Software Development</li>
    </ol>
</div>
<br />